.link{
    color: #0070f3;
    text-decoration: none;
    cursor:pointer;
}

.h{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
color:darkgoldenrod;


}